<template>
	<el-main>
		<el-row :gutter="20">
			<el-col :md="12">
         <el-button type="success" :loading="btnSet" @click="setRank" >update ranked all sites - {{allSites}}</el-button>
				 <el-button type="success" :loading="btnUpdate" @click="updateRank" >rank sites without ranking - {{rankNull}}</el-button>
			</el-col>
			<el-col :md="12">
			</el-col>
			<el-col :md="24">
				<hr>

<div v-infinite-scroll="getLinks" infinite-scroll-disabled="busy" infinite-scroll-distance="10" style="height:600px">


          <data-tables
              v-loading="loading2"
              element-loading-text="Loading..."
              element-loading-spinner="el-icon-loading"
              element-loading-background="rgba(0, 0, 0, 0.8)"
              :data="sitesDB"
              :table-props="tableProps"
              :pagination-def="paginationDef"
              :search-def="searchDef"
          
              style="width: 100%">
                  <el-table-column
                  type="index">
                  </el-table-column>
              <el-table-column
                prop="link"
                label="Site Url"
                >
              </el-table-column>
                 <el-table-column
                prop="rank"
                label="Alexa Rank"
                sortable="custom"
                >
              </el-table-column>
              <el-table-column
                prop="reference"
                label="Reference"
                >
              </el-table-column>
              <el-table-column
                prop="update_at"
                label="Date Rank">
              </el-table-column>
            </data-tables>

</div>
			</el-col>
		</el-row>
	</el-main>
</template>

<script>
import {baseUrl,HTTP} from '~/axios.js';

export default {

  name: 'hwtAwis',

  data () {
    return {
      loading2:false,
     allSites:0,
     rankNull:0,
     page:0,
     total:1,
     btnSet:false,
    btnUpdate: false,
     sitesDB:[],
      paginationDef: {
        show: false
      },
        searchDef: {
        show: false
      },
      tableProps: {
        defaultSort: {
          prop: 'rank',
          order: 'descending'
        }
      }
    }
  },
  created(){
    this.getSiteInfo()
  	this.getLinks()
  },
  methods:{
  	getSiteInfo(){
  		HTTP.get('/v1/public/sites/search/info')
  		    .then( res => {
            console.log(res)
  		    	this.allSites = res.data.allSites
  		    	this.rankNull = res.data.rankNull
  		    	
  		    })
  	},
  	setRank(){
      this.btnSet = true
       HTTP.get('/alexa.php?type=set')
           .then(res => {
            console.log(res)
             this.btnSet = false
           	 this.getSiteInfo()
           })
  	},
  	updateRank(){
      this.btnUpdate = true
     HTTP.get('/alexa.php?type=update')
           .then(res => {
            console.log(res)
             this.btnUpdate = false
           	 this.getSiteInfo()
           })
  	},
  	getLinks(){
      console.log('star', this.page)
        if((this.page * 20) < this.total)
        {
            this.page++

      
      
        console.log('star', this.page)
           HTTP.get('/v1/public/sites/search/results',{ params: {q : this.page} })
               .then( res => {
                  console.log(res)
                  this.total = res.data.total
                   console.log('total', this.total)
                   let linkArray = Object.keys(res.data.data).map(i => res.data.data[i])

   
                   this.sitesDB = this.sitesDB.concat(linkArray);
                  // this.sitesDB = res.data.data

               })
      }
    }
  }
}
</script>

<style lang="css" scoped>
</style>