<template>
	<div>
	
<el-menu
  :default-active="activeIndex = $route.name"
  class="el-menu-demo"
  mode="horizontal"
  @select="handleSelect"
  background-color="#545c64"
  text-color="#fff"
  :router="true">
  <el-menu-item index="hwtHome" :route="{ name: 'hwtHome'}"> 
  	<i class="fas fa-history"></i>  
    Historical Web Traffic
  </el-menu-item>
  <el-menu-item index="hwtSearch" :route="{ name: 'hwtSearch'}"> 
  	<i class="fas fa-search"></i>  
     Google search
  </el-menu-item>

   <el-menu-item index="hwtAwis" :route="{ name: 'hwtAwis'}"> 
   	<i class="fas fa-info"></i>  
    Alexa Site Info 
   </el-menu-item>
   
</el-menu>
</div>
</template>

<script>
export default {

  name: 'hwtHeader',

 data() {
      return {
        
      };
    },
    methods: {
      handleSelect(key, keyPath) {
        console.log(key, keyPath);
      }
    }
}
</script>

<style lang="css">
.el-menu--horizontal>.el-menu-item.is-active {
   background: rgb(255, 208, 75) !important;
   color:#495159 !important;
}
</style>