<template>
	<el-main>
		<el-row :gutter="20">
			<el-col :md="24">
				<el-form  :model="formSearch" :rules="rules" ref="formSearch"class="demo-form-inline">
					<el-col :md="12">
  <el-form-item label="Search text" prop="text">
  	    <el-input type="textarea"  :autosize="{ minRows: 2, maxRows: 4}" v-model="formSearch.text"></el-input>

    <!-- <el-input v-model="formSearch.text" placeholder="Search text"></el-input> -->
  </el-form-item>
</el-col>
     <el-col :md="6">
  <el-form-item label="Search reference" prop="reference">
    <el-input v-model="formSearch.reference" placeholder="Reference" ></el-input>
  
  </el-form-item>
</el-col>
  <el-col :md="6">
  <el-form-item>
    <el-button type="primary" @click="submitForm('formSearch')" style="margin-top:40px">Search and store Results</el-button>
  </el-form-item>
</el-col>
</el-form>
			</el-col>

			<el-col :md="24">
				  <h4 style="font-weight:100; margin-top:-10px; padding:10px; " v-if="formSearch.totalResults">Total Results: <strong style="color:#409eff">{{formSearch.totalResults}}</strong> - Search Time: <strong style="color:#409eff">{{formSearch.searchTime}}</strong> seconds</h4>
				  <hr>
          
			 </el-col>
        <el-col :md="24">
          

<div v-infinite-scroll="getLinks" infinite-scroll-disabled="busy" infinite-scroll-distance="10" style="height:600px">


          <el-table
              v-loading="loading2"
              element-loading-text="Loading..."
              element-loading-spinner="el-icon-loading"
              element-loading-background="rgba(0, 0, 0, 0.8)"
              :data="sitesDB"
          
              style="width: 100%">
                  <el-table-column
                  type="index">
                  </el-table-column>
              <el-table-column
                prop="link"
                label="Site Url"
                >
              </el-table-column>
              <el-table-column
                prop="reference"
                label="Reference"
                >
              </el-table-column>
              <el-table-column
                prop="created_at"
                label="Date Add">
              </el-table-column>
            </el-table>

</div>

<!--  <div v-infinite-scroll="loadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="10" style="height: 500px">
  <el-table :data="data">
     <el-table-column prop="id">
    </el-table-column>
  </el-table>
  </div> -->
         
        </el-col>
		</el-row>
	</el-main>
</template>

<script>
import {baseUrl,HTTP} from '~/axios.js';
let idx = 0
export default {

  name: 'hwtSearch',

  data () {
    return {
      loading2:false,
    formSearch: {
          text: '"We are a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for us to earn fees by linking to Amazon.com and affiliated sites"',
          reference: 'amazon',
          totalResults:false
        },
      rules: {
          text: [
            { required: true, trigger: 'blur' }
          ],
           reference: [
            { required: true, trigger: 'blur' }
          ]
         
        },
      sitesDB:[],
      page: 0,
      total:1,
      input: '',
      loading: false
   

    }
  },
  components: {
   
  },
  created(){
    // this.getLinks(1)
  },
    methods: {
     loadMore() {
     let arr = []
       for (let i = 0; i < 100; i++) {
          arr.push({id: ++idx})
       }
       if (this.data) {
        arr.forEach((item) => {
          this.data.push(item)
        })
       }
       return arr
    },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.loading2 = true
          	HTTP.get('/search.php?text=' +this.formSearch.text)
          	    .then( res => {
          	    	this.formSearch.totalResults = res.data.totalResults
          	    	this.formSearch.searchTime = res.data.searchTime
                    console.log(res)
                        console.log('termino search ok')

          	    	 HTTP.get('/store-search.php?text=' + this.formSearch.text + '&totalResults=' + this.formSearch.totalResults + '&reference=' +  this.formSearch.reference)
          	    	     .then( res => {
                        console.log('termino store ok')
                           
          	    	         if(!res.data.totalResults){
                              this.loading2 = false

                           }
                            HTTP.get('/v1/public/sites/search/results',{ params: {q : this.page} })
               .then( res => {
                  console.log(res)
                  this.total = res.data.total
                   console.log('total', this.total)
                   let linkArray = Object.keys(res.data.data).map(i => res.data.data[i])

   
                   this.sitesDB = this.sitesDB.concat(linkArray);
                  // this.sitesDB = res.data.data

               })

          	    	     })
                       .catch(error => {
                        console.log('termino store catch')

                        this.getLinks()

                       })
                       this.getLinks()
          	    })
                .catch(error => {
                        console.log('termino sear catch')

                   this.getLinks()

                   })
             
          } else {
            console.log('error submit!!');
            return false;

          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      },
      loadMore(){
        this.page++
        this.getLinks()
      },
      getLinks(){
        if((this.page * 20) < this.total)
        {
            this.page++

      
      
        console.log('star', this.page)
           HTTP.get('/v1/public/sites/search/results',{ params: {q : this.page} })
               .then( res => {
                  console.log(res)
                  this.total = res.data.total
                   console.log('total', this.total)
                   let linkArray = Object.keys(res.data.data).map(i => res.data.data[i])

   
                   this.sitesDB = this.sitesDB.concat(linkArray);
                  // this.sitesDB = res.data.data

               })
      }
    }
  }
}
</script>

<style lang="css" >
  .el-table {
      position: inherit!important;
    }
</style>