<template>
 <div id="app">
    <hwt-header></hwt-header>
    <router-view></router-view>
  </div>
</template>

<script>
import hwtHeader from '~/components/hwtHeader.vue'

export default {
components: {
   hwtHeader
  }
}
</script>

<style lang="css">
  @import './scss/main.css'


</style>
